:root {
  --primary-bg-color: lab(2.42579% -0.165291 -0.470081);
  --secondry-bg-color: lab(100% 0 0/0.05);
  --text-color-main: lab(100% 0 0);
  --text-color-secondry: lab(100% 0 0/0.7);
  --color-brand: lab(79.9844% -59.6292 22.5096);
  --color-brand-light: lab(51.3415% -41.5657 15.3527);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 200vh;
  color: var(--text-color-main);
  background-color: var(--primary-bg-color);
}

.container {
  background-image: url("./resources/background-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px 24px;
  width: 100%;
  height: 33.5px;
  color: var(--text-color-main);
  position: fixed;
  top: 0px;
  z-index: 1;
}

.navbar .mintlify-nav-logo img {
  color: var(--text-color-main);
  width: 180px;
  height: 80px;
  margin-top: 5px;
}

.navbar .nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  list-style: none;
}

.navbar .nav-links ul li a {
  text-decoration: none;
  color: var(--text-color-main);
  font-size: 1.05rem;
  padding: 4px 12px;
}

.navbar .nav-links ul li a:hover {
  background-color: var(--secondry-bg-color);
  border-radius: 20px;
}

.nav-btns {
  display: flex;
  justify-content: flex-start;
  width: 250px;
  gap: 5px;
}

.nav-btns button {
  border: none;
  padding: 4.5px 12px;
  font-size: 1.05rem;
  border-radius: 20px;
}

.nav-btns #nav-contact-sales-btn {
  background-color: var(--secondry-bg-color);
  color: var(--text-color-main);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  /* height: 100vh; */
  justify-content: center;

  position: relative; /* Essential for positioning the pseudo-element */
  overflow-y: auto; /* Enable scrolling if needed */
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px; /* Adjust height of the fade area */
  background: linear-gradient(
    to top,
    var(--primary-bg-color),
    rgba(255, 255, 255, 0)
  );

  /* The gradient goes from the background color (fully opaque) to transparent */
  pointer-events: none; /* Allows clicks to pass through the overlay */
}

.hero .hero-top-new-doc-link {
  display: flex;
  align-items: center;
  background-color: var(--secondry-bg-color);
  padding: 4px 8px;
  border-radius: 20px;
  /* margin-bottom: 60px; */
  gap: 1rem;
}

.hero .hero-top-new-doc-link #new {
  background-color: var(--color-brand);
  border-radius: 20px;
  padding: 2px 8px;
  font-size: small;
  display: flex;
  justify-items: center;
  align-items: center;
}

.hero .hero-top-new-doc-link #arrow {
  background-color: var(--text-color-main);
  border-radius: 50%;
  color: var(--text-color-secondry);
  font-size: medium;
}

.hero .hero-main-heading-and-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.hero .hero-main-heading-and-form #hero-main-heading {
  font-size: 48px;
  margin-top: 30px;
}

.hero .hero-main-heading-and-form #hero-description {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.hero .hero-email-form {
  background-color: var(--secondry-bg-color);
  margin-top: 32px;
  padding: 4px;
  border: 1px solid var(--secondry-bg-color);
  border-radius: 20px;
}
.hero .hero-email-form input {
  border: none;
  background-color: transparent;
  color: var(--text-color-main);
  padding: 0px 12px;
  font-size: 1.1rem;
}

.hero .hero-email-form button {
  border: none;
  padding: 4.5px 12px;
  border-radius: 20px;
  font-size: 1.1rem;
  border: 1px solid var(--text-color-main);
}

.hero img {
  margin-top: 50px;
}

.companies-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px 32px 144px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 48px 32px; */
}

.features .feature-content #feature-main-heading {
  text-align: center;
  font-size: max(1.75rem, min(4vw, 2.5rem));
  line-height: 110%;
}

.features .feature-content #feature-description {
  margin: 10px;
  line-height: 20px;
  font-size: medium;
  letter-spacing: 1px;
  color: var(--text-color-secondry);
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
  max-width: 1040px; /* optional, keeps layout centered */
  margin-bottom: 150px;
}

.feature-cards > :nth-child(3) {
  grid-column: 1 / -1;
}

.feature-cards .feature-card1 {
  border: 1px solid lab(100% 0 0/0.07);
  border-radius: 20px;
  padding: 6px;
}

.feature-cards .feature-card1 .card1-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

.feature-cards .feature-card1 .card1-content .about-feature {
  color: var(--color-brand);
  font-size: small;
}

.feature-cards .feature-card1 .card1-content h2 {
  font-weight: 600;
}

.feature-cards .feature-card1 .card1-content p {
  color: var(--text-color-secondry);
}

.feature-card1 .feature-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-cards .feature-card3 {
  border: 1px solid lab(100% 0 0/0.07);
  border-radius: 20px;
  padding: 6px;
}

.feature-cards .feature-card3 .card3-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  align-items: center;
}

.feature-cards .feature-card3 .card3-content .about-feature {
  color: var(--color-brand);
  font-size: small;
}

.feature-cards .feature-card3 .card3-content h2 {
  font-weight: 600;
}

.feature-cards .feature-card3 .card3-content p {
  color: var(--text-color-secondry);
}

.intelligent-assistant {
  background-color: var(--secondry-bg-color);
}

.intelligent-assistant .section-1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 96px 0px;
}

.intelligent-left-side #enterprise-reinvention {
  color: var(--color-brand);
}

.intelligent-left-side #intelligent-heading {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 600;
}

.intelligent-left-side #intelligence-content {
  margin-top: 10px;
  font-size: 1rem;
  color: var(--text-color-secondry);
}

.intelligent-assistant .section-1 button {
  padding: 7px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  border: var(--text-color-main);
}

.intelligent-assistant .section-2 {
  display: flex;
  justify-content: space-around;
}

.intelligent-assistant .section-2 .card h3 {
  padding: 10px 0px;
}

.intelligent-assistant .section-2 .card p {
  margin: 10px 0px;
  color: var(--text-color-secondry);
}

.intelligent-assistant .section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  margin-top: 50px;
}

.final-ctc {
  text-align: center;
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-ctc .heading h2 {
  font-size: 40px;
}

.final-ctc .heading p {
  margin: 10px 0px 50px 0px;
  font-size: 1rem;
}

.final-ctc .btns button {
  border: none;
  padding: 7px 24px;
  border-radius: 20px;
  font-size: 1rem;
}

.final-ctc .btns #btn-2 {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--text-color-main);
  color: var(--text-color-main);
}
